/*--- Reset ---*/

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
html, body {
	color: #5d5d5d;
	font-family: 'Amiri', 'SeMyungjo', Serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.75;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background-color: #e2e2e2;
	word-break: keep-all;
	text-align: center;
	transition: background-color .5s ease-out;
	touch-action: none;
}
body[card-type="spread"] {
	touch-action: auto;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
ul, ol, li { 
	list-style: none; 
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
a {
	color: #5d5d5d;
	text-decoration: none;
}
a:hover {
	color: #232323;
}
.button {
	background: rgba(0,0,0,.06);
	border: none;
	border-radius: 20px;
	color: #787878;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-family: 'Roboto', 'Noto Sans KR', Sans-Serif;
	letter-spacing: 0.5px;
	line-height: 40px;
	margin-bottom: 12px;
	transition: all .25s ease-out;
	width: 50%;
	height: 40px;
}
.button.small-button {
	width: auto;
	height: 30px;
	font-size: 11px;
	line-height: 30px;
	padding: 0 17px;
	margin: 0 2px 10px;
}
.button:hover {
	background: rgba(0,0,0,.1);
	color: #555;
}
.button-set:before,
.button-set:after {
	content: '';
	display: table;
}
.button-set:after {
	clear: both;
}
.button-set {
	margin-top: 15px;
}
.hidden {
	display: none;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*--- envelope Screen ---*/

.envelope {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.envelope {
	background: #e2e2e2;
	z-index: 2;
}
.envelope .phrase {
	color: rgba(0,0,0,.3);
	display: none;
	font-size: 17px;
	top: 50%;
	left: 50%;
	letter-spacing: 3px;
	line-height: 1.8;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 5;
}
.envelope .loader {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 100px;
}
.envelope .loader path {
	fill: rgba(0,0,0,.15);
}

/*--- Card : Layout ---*/

.bom-card {
	background-color: #e2e2e2;
	opacity: 0;
	transition: opacity 1s ease-out;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.bom-card.is-ready {
	opacity: 1;
}
.bom-card .cardslider__direction-nav {
	display: none;
}
body[card-name="sample"] .bom-card .cardslider__cards {
	max-height: 620px;
}
.bom-card .card {
	background: url('../../assets/images/paper-back-white.jpg');
	background-size: 345px auto;
	border-radius: 2px;
	box-shadow: 0 0 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.12), inset 0 1px 2px rgba(255,255,255,.75);
	overflow: hidden;
}
.bom-card .card-content {
	height: calc(100% - 70px);
	margin: 0;
}
.bom-card .card-content .aligner {
	position: relative;
}

body[card-type="spread"] .bom-card {
	opacity: 1;
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	width: 95%;
	max-width: 345px;
	margin: 15px auto 0;
}
body[card-type="spread"] .bom-card .card {
	position: relative;
	height: 580px;
	margin-top: 12px;
}
body[card-type="spread"] .bom-card .card-content {
	height: 510px;
}
body[card-type="spread"] .bom-card .colophon-card,
body[card-type="spread"] .bom-card .colophon-card .card-content {
	height: auto;
}
body[card-type="spread"] .bom-card .colophon-card .aligner {
	height: auto;
	padding-top: 50px;
}
body[card-type="spread"] .bom-card .colophon-card .card-content .aligner {
	margin-top: 0 !important;
}

/*--- Card : Common ---*/

.bom-card .card-title {
	color: #999;
	display: inline-block;
	margin-bottom: 12px;
}
.bom-card .date-and-venue {
	font-size: 17px;
	padding-left: 2px;
	margin-bottom: 15%;
	letter-spacing: 2px;
	line-height: 1.6;
}
.bom-card .card-footer {
	color: rgba(0,0,0,.25);
	font-size: 9px;
	font-family: 'Amiri', Serif;
	letter-spacing: 5px;
	margin-top: 30px;
	text-transform: uppercase;
	position: absolute;
	bottom: 25px;
	width: 100%;
	text-align: center;
}
.bom-card .card-footer .copyright {
	display: block;
	font-size: 8px;
	font-family: 'Roboto', Sans-Serif;
	letter-spacing: 2px;
	font-weight: 300;
}
body[card-type="spread"] .bom-card .colophon-card .card-footer {
	bottom: auto;
	display: inherit;
	padding-bottom: 50px;
	position: relative;
}

/*--- Card : Look-over Animation ---*/

.bom-card.look-over .cardslider__card--index-0 {
	animation: first-card-animation 2s;
	animation-delay: .25s;
}
.bom-card.look-over .cardslider__card--index-1 {
	animation: second-card-animation 1.7s;
	animation-delay: .5s;
}

@keyframes first-card-animation {
  0% {
    transform: translate(0, 0);
  }
  60% {
	transform: translate(0, -9%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes second-card-animation {
  0% {
    transform: translate(0, 1.3%);
  }
  50% {
	transform: translate(0, -3%);
  }
  100% {
    transform: translate(0, 1.3%);
  }
}


/*--- Card : Cover ---*/


.bom-card .main-card .cover-image {
	background-size: cover;
	background-position: center center;
	position: relative;
	opacity: .9;
	mix-blend-mode: multiply;
	width: 100%;
}
body[multiply-mode="off"] .bom-card .main-card .cover-image {
	opacity: 1;
	mix-blend-mode: normal;
}
.bom-card .main-card[cover-layout="square"] .cover-image {
	height: 55vh;
	max-height: 345px;
}
body[card-type="spread"] .bom-card .main-card[cover-layout="square"] .cover-image {
	height: auto;
	padding-top: 100%;
}
.bom-card .main-card[cover-layout="wide"] .cover-image {
	height: 45vh;
	max-height: 270px;
}
body[card-name="sample"] .bom-card .main-card[cover-layout="wide"] .cover-image {
	background-position-y: bottom;
}
.bom-card .main-card .cover-container {
	display: none;
}
.bom-card .main-card[cover-layout="square"] .square-cover,
.bom-card .main-card[cover-layout="wide"] .wide-cover,
.bom-card .main-card[cover-layout="text-only"] .text-only-cover {
	display: inherit;
}
.bom-card .main-card[cover-align="center"] .align-left,
.bom-card .main-card[cover-align="left"] .align-center {
	display: none;
}
.bom-card .main-card .text-only-cover + .d-day {
	display: none;
}
.bom-card .main-card[cover-layout="text-only"] .text-only-cover + .d-day {
	display: inherit;
}

.bom-card .main-card .title-aligner {
	position: absolute;
	width: 100%;
}
.bom-card .main-card .groom-and-bride {
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.bom-card .main-card .wedding-date {
	font-size: 13px;
	letter-spacing: 0.5px;
}
.bom-card .main-card .wedding-date span {
	letter-spacing: 1px;
}
.bom-card .main-card[cover-layout="text-only"] .wedding-date {
	padding-top: 7.5%;
}
.bom-card .main-card[cover-layout="wide"] .groom-and-bride,
.bom-card .main-card[cover-layout="wide"] .wedding-date {
	padding: 15% 0;
}
.bom-card .main-card[cover-align="left"] .groom-and-bride,
.bom-card .main-card[cover-align="left"] .wedding-date {
	padding: 2.5% 12%;
	text-align: left;
}
.bom-card .main-card[cover-align="left"][cover-layout="wide"] .groom-and-bride,
.bom-card .main-card[cover-align="left"][cover-layout="wide"] .wedding-date {
	padding: 15% 10%;
}
.bom-card .main-card[cover-layout="text-only"] .wedding-date {
	opacity: .72;
}
.bom-card .main-card .d-day {
	top: 50px;
	right: 32px;
	position: absolute;
	width: 88px;
	height: 88px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 43px;
	background-size: 86px 86px;
	background-position-y: 1px;
	background-image: url('../../assets/images/day-stamp-bg-gray.png');
	line-height: 90px;
	font-size: 15px;
	letter-spacing: 0;
	color: #aaa;
	transform: rotate(-8deg) scale(1.12);
}
.bom-card .main-card .cover-image .d-day {
	top: auto;
	bottom: -60px;
	right: 22px;
}
.bom-card .main-card[cover-title="en"] .cover-container.title-ko,
.bom-card .main-card[cover-title="ko"] .cover-container.title-en {
	display: none;
}
.bom-card .main-card[cover-d-day="off"] .d-day {
	display: none !important;
}

@media (max-width: 360px) {
  .bom-card .main-card[cover-layout="wide"] .groom-and-bride,
  .bom-card .main-card[cover-layout="wide"] .wedding-date {
	padding: 7.5% 0;
  }
  .bom-card .main-card[cover-align="left"][cover-layout="wide"] .groom-and-bride,
  .bom-card .main-card[cover-align="left"][cover-layout="wide"] .wedding-date {
	padding: 7.5% 10%;
  }
} 


/*--- Card : Greetings ---*/

.bom-card .greeting-card .greeting {
	padding: 0 8%;
}
.bom-card .greeting-card .greeting p {
	margin-bottom: 20px;
}
.bom-card .greeting-card .greeting p em {
	display: block;
	font-size: 12px;
	font-style: normal;
	margin-top: 7px;
}
.bom-card .greeting-card .greeting p strong {
	font-weight: normal;
	font-family: 'SeMyungjo', serif;
	letter-spacing: 4px;
	margin-left: 3px;
}
.bom-card .greeting-card .greeting p strong + br + em {
	font-size: 13px;
	letter-spacing: 5px;
	line-height: 1.3;
	margin-top: 0;
	margin-left: 4px;
}
.bom-card .greeting-card .greeting p strong + br,
.bom-card .greeting-card .greeting p strong + br + em + br {
	display: none;
}
.bom-card .greeting-card .groom-and-bride:before,
.bom-card .greeting-card .groom-and-bride:after {
	content: '';
	display: table;
}
.bom-card .greeting-card .groom-and-bride:after {
	clear: both;
}
.bom-card .greeting-card .groom-and-bride {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	display: inline-block;
	line-height: 1;
	margin-top: 10%;
	padding-top: 20px;
}
.bom-card .greeting-card .groom-and-bride.hide-parents {
	border-bottom: none;
}
.bom-card .greeting-card .groom-and-bride li {
	float: left;
	margin-right: 6px;
	text-align: center;
	height: 76px;
	overflow: hidden;
}
.bom-card .greeting-card .groom-and-bride li:last-child {
	margin-right: 0;
}
.bom-card .greeting-card .groom-and-bride li span {
	display: block;
	height: 40px;
	line-height: 1.35;
	position: relative;
}
.bom-card .greeting-card .groom-and-bride .deceased {
	display: inline-block;
	font-size: 11px;
	margin-right: 2px;
}
.bom-card .greeting-card .groom-and-bride .relation {
	color: #999;
	font-size: 13px;
	text-align: left;
}
.bom-card .greeting-card .groom-and-bride .relation span {
	position: relative;
	top: 1px;
}
.bom-card .greeting-card .groom-and-bride .groom-name span,
.bom-card .greeting-card .groom-and-bride .bride-name span {
	display: inline-block;
}
.bom-card .greeting-card .groom-and-bride .single-name {
	margin-left: 16px;
}

.bom-card .greeting-card .groom-and-bride.christian-layout {
	padding-bottom: 20px;
}
.bom-card .greeting-card .groom-and-bride.christian-layout li {
	overflow: visible;
}
.bom-card .greeting-card .groom-and-bride.christian-layout li span {
	height: 46px;
}
.bom-card .greeting-card .groom-and-bride .christian-name {
	position: absolute;
	font-size: 9px;
	left: 50%;
	bottom: -23px;
	transform: translateX(-50%);
}

/*--- Card : Wedding Film ---*/

.bom-card .wedding-film-card .card-content {
	height: 100%;
	overflow: hidden;
}
.bom-card .wedding-film-card .wedding-film {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	opacity: .15;
}
.bom-card .wedding-film-card .play-wedding-film {
	border-radius: 50%;
	font-size: 50px;
	padding-left: 7px;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 70px;
	height: 70px;
	line-height: 73px;
	z-index: 999;
}
.bom-card .wedding-film-card .play-wedding-film .button-text {
	font-size: 12px;
	line-height: 1;
	position: absolute ;
	width: 200%;
	left: -50%;
	bottom: -40%;
}

/*--- Card : Gallery ---*/

.bom-card .gallery .slick-track {
	height: 100%;
}
.bom-card .gallery .slick-list {
	height: 100%;
	overflow: hidden;
}
.bom-card .gallery .slick-slide {
	background: url('../../assets/images/paper-back-white.jpg');
	background-size: cover;
	outline: none;
	overflow: hidden;
}
.bom-card .gallery .slick-slide img {
	opacity: .9 !important;
	mix-blend-mode: multiply;
}
body[multiply-mode="off"] .bom-card .gallery .slick-slide img {
	opacity: 1 !important;
	mix-blend-mode: normal;
}
.bom-card .gallery .slick-slide img {
	position: relative;
}
.bom-card .gallery-card .pagination {
	font-family: 'Amiri', serif;
	font-size: 12px;
	position: absolute;
	transform: translateX(-50%);
	bottom: 22px;
	color: rgba(0,0,0,.25);
}
.bom-card .gallery-card .swipe-info {
	background: url('../../assets/images/paper-back-white.jpg');
	background-size: cover;
	background-position: center bottom;
	color: rgba(0,0,0,.5);
	font-size: 11px;
	font-family: 'SeMyungjo', serif;
	position: absolute;
	bottom: -5px;
	padding: 35px 0 15px;
	width: 100%;
	text-align: center;
	opacity: 0;
	z-index: 9;
	transition: all .5s ease-out;
}
.bom-card .gallery-card .swipe-info.active {
	bottom: 0;
	opacity: .95;
}
.bom-card .gallery-card .swipe-info img {
	width: 25px;
	margin-bottom: 3px;
	position: absolute;
	left: 50%;
	margin-left: 0;
	margin-top: -30px;
	animation: swipe-info 2.5s infinite;
}

@keyframes swipe-info {
	0% {
		opacity: 1;
		margin-left: 0;
	}
	85% {
		opacity: 1;
		margin-left: -40px;
	}
	90% {
		opacity: 0;
		margin-left: -40px;
	}
	100% {
		opacity: 0;
		margin-left: 0;
	}
}

/*--- Card : Calendar ---*/

.bom-card .calendar-card .calendar-container {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	margin: 0 12.5%;
	padding: 15px 0 10px;
	width: 75%;
}
.bom-card .calendar-card .calendar {
	font-family: 'Amiri', 'SeMyungjo', Serif;
	margin-left: -5%;
	width: 110%;
}
.bom-card .calendar-card .calendar td {
	font-size: 13px;
}
.bom-card .calendar-card .calendar .calendar-day-head {
	color: #999;
	font-size: 9px;
	padding: 10px 0;
}
.bom-card .calendar-card .calendar .calendar-day .day-number {
	color: #787878;
	width: 28px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	margin: 5px auto;
}
.bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	background: rgba(0,0,0,.06);
	border-radius: 17px;
	font-weight: 700;
}


/*--- Card : Venue ---*/

.bom-card .venue-card.with-date .date-and-venue {
	letter-spacing: 1px;
}
.bom-card .venue-card .map {
	margin-bottom: 15px;
	position: relative;
}
.bom-card .venue-card .naver-map {
	width: 100%;
	height: 30vh;
	min-height: 120px;
	max-height: 240px;
	position: relative;
}
.bom-card .venue-card .naver-map > div > div > div > div > div > div {
	background-color: #f2f2f2;
}
.bom-card .venue-card .naver-map > div > div > div > div > div > div > img {
	-webkit-filter: grayscale(100%) brightness(110%);
    filter: grayscale(100%) brightness(110%);
    mix-blend-mode: multiply;
    opacity: 0.65 !important;
}
.bom-card .venue-card .naver-map > div {
	display: none;
}
.bom-card .venue-card .naver-map > div:first-child,
.bom-card .venue-card .naver-map > div > div {
	display: inherit;
}
.bom-card .venue-card .venue-address {
	line-height: 1.35;
	padding: 0 25px 10px;
}
.bom-card .venue-card .venue-address a {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0;
}
.bom-card .venue-card .venue-address .map-guide {
	color: #999;
	display: block;
	font-size: 12px;
	margin-top: 5px;
	letter-spacing: 0;
}
.bom-card .venue-card .venue-detail-info {
	background-image: url('../../assets/images/paper-back-white.jpg');
	background-position: center center;
	background-size: cover;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;
}
.bom-card .venue-card .venue-detail-container {
	height: calc(100% - 50px);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.bom-card .venue-card .venue-detail-container .venue-detail {
	padding: 10%;
	padding-bottom: 60px;
}
.bom-card .venue-card .venue-detail-info ul li {
	font-size: 13px;
	letter-spacing: 0;
	padding: 0 0 10px;
	text-align: left;
}
.bom-card .venue-card .venue-detail-info ul li .info-title {
	color: #999;
	display: block;
	font-family: 'Noto Sans KR';
	font-size: 11px;
	margin-bottom: 7px;
}
.bom-card .venue-card .venue-detail-info ul li .arrow:before {
	content: "\f3d6";
	font-family: 'Ionicons';
	font-style: normal;
}
.bom-card .venue-card .venue-detail-info .venue-info-close {
	font-size: 26px;
	padding: 0;
	width: 36px;
	height: 36px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -18px;
}
.bom-card .venue-card .venue-detail-info .kakao-navi-button {
	display: none;
}
body[card-type="spread"] .bom-card .venue-card.has-detail-info,
body[card-type="spread"] .bom-card .venue-card.has-detail-info .card-content {
	height: auto;
}
body[card-type="spread"] .bom-card .venue-card.has-detail-info .venue-address {
	border-bottom: 1px dashed rgba(0, 0, 0, .1);
	padding-bottom: 30px;
}
body[card-type="spread"] .bom-card .venue-card.has-detail-info .button-set,
body[card-type="spread"] .bom-card .venue-card.has-detail-info .venue-detail-info .detail-info-address {
	display: none;
}
body[card-type="spread"] .bom-card .venue-card.has-detail-info .venue-detail-info {
	border-top: 1px dashed rgba(255, 255, 255, .75);
	display: block;
	position: relative;
}
body[card-type="spread"] .bom-card .venue-card.has-detail-info .venue-detail-info .venue-info-close {
	display: none;
}
body[card-type="spread"] .bom-card .venue-card.has-detail-info .venue-detail-info .kakao-navi-button {
	display: inline-block;
	margin-top: 15px;
}

/*--- Card : Colophon ---*/

.bom-card .colophon-card {
	background: transparent !important;
	box-shadow: none !important;
}
.bom-card .colophon-card .call-buttons {
	margin-top: 35px;
}

.key-navigation-tip {
	font-family: 'Noto Sans KR', Sans-Serif;
	font-size: 11px;
	color: #aaa;
	letter-spacing: 0;
	position: fixed;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(400px);
}
body[card-type="spread"] .key-navigation-top {
	display: none;
}

@media (max-width: 1200px) {
  .key-navigation-tip {
	display: none;
  }
}

/*--- Screen Support ---*/

@media (max-width: 360px) {
  .button-set {
	margin-top: 7%;
  }
  .bom-card .date-and-venue,
  .bom-card .card .map {
	margin-bottom: 7%;
  }
  .bom-card .card .greeting-divider {
	margin: 7% 0;
  }
  .bom-card .calendar-card .calendar .calendar-day .day-number {
	margin: 2px auto;
  }
  .bom-card .card .map-info {
	padding-bottom: 0;
  }
}

/*--- FR - Pink Sand ---*/

body[card-color="pink-sand"],
body[card-color="pink-sand"] .button,
body[card-color="pink-sand"] .bom-card .calendar-card .calendar .calendar-day .day-number,
body[card-color="pink-sand"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	color: #615453;
}
body[card-color="pink-sand"],
body[card-color="pink-sand"] .envelope,
body[card-color="pink-sand"] .bom-card {
	background-color: #e9d9db;
}
body[card-color="pink-sand"] .envelope .phrase,
body[card-color="pink-sand"] .bom-card .main-card .cover-container,
body[card-color="pink-sand"] .bom-card .card-title,
body[card-color="pink-sand"] .bom-card .greeting-card .groom-and-bride .relation,
body[card-color="pink-sand"] .bom-card .gallery-card .pagination,
body[card-color="pink-sand"] .bom-card .gallery-card .slick-prev:before,
body[card-color="pink-sand"] .bom-card .gallery-card .slick-next:before,
body[card-color="pink-sand"] .bom-card .calendar-card .calendar .calendar-day-head,
body[card-color="pink-sand"] .bom-card .venue-card .venue-address .map-guide,
body[card-color="pink-sand"] .bom-card .venue-card .venue-detail-info ul li .info-title {
	color: #bc8c89;
}
body[card-color="pink-sand"] .bom-card .card-footer,
body[card-color="pink-sand"] .bom-card .main-card .d-day {
	color: #d9bfc1;
}
body[card-color="pink-sand"] .envelope .loader path {
	fill: #bc8c89;
}
body[card-color="pink-sand"] .bom-card .greeting-card .groom-and-bride,
body[card-color="pink-sand"] .bom-card .calendar-card .calendar-container {
	border-top-color: #d9bfc1;
	border-bottom-color: #d9bfc1;
}
body[card-color="pink-sand"] .bom-card .main-card .d-day {
	background-image: url('../../assets/images/day-stamp-bg-pink-sand.png');
	border-color: rgba(197, 114, 112, .25);
}
body[card-color="pink-sand"] .button,
body[card-color="pink-sand"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	background-color: rgba(197, 114, 112, 0.13);
}

/*--- FR - Mint ---*/

body[card-color="mint"],
body[card-color="mint"] .button,
body[card-color="mint"] .bom-card .calendar-card .calendar .calendar-day .day-number,
body[card-color="mint"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	color: #505e4b;
}
body[card-color="mint"],
body[card-color="mint"] .envelope,
body[card-color="mint"] .bom-card {
	background-color: #dce7d5;
}
body[card-color="mint"] .envelope .phrase,
body[card-color="mint"] .bom-card .main-card .cover-container,
body[card-color="mint"] .bom-card .card-title,
body[card-color="mint"] .bom-card .greeting-card .groom-and-bride .relation,
body[card-color="mint"] .bom-card .gallery-card .pagination,
body[card-color="mint"] .bom-card .gallery-card .slick-prev:before,
body[card-color="mint"] .bom-card .gallery-card .slick-next:before,
body[card-color="mint"] .bom-card .calendar-card .calendar .calendar-day-head,
body[card-color="mint"] .bom-card .venue-card .venue-address .map-guide,
body[card-color="mint"] .bom-card .venue-card .venue-detail-info ul li .info-title {
	color: #88987b;
}
body[card-color="mint"] .bom-card .card-footer,
body[card-color="mint"] .bom-card .main-card .d-day {
	color: #bdd2b8;
}
body[card-color="mint"] .envelope .loader path {
	fill: #88987b;
}
body[card-color="mint"] .bom-card .greeting-card .groom-and-bride,
body[card-color="mint"] .bom-card .calendar-card .calendar-container {
	border-top-color: #bdd2b8;
	border-bottom-color: #bdd2b8;
}
body[card-color="mint"] .bom-card .main-card .d-day {
	background-image: url('../../assets/images/day-stamp-bg-mint.png');
	border-color: rgba(114, 150, 81, .25);
}
body[card-color="mint"] .button,
body[card-color="mint"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	background-color: rgba(143, 197, 115, 0.13);
}

/*--- FR - Sky Blue ---*/

body[card-color="sky-blue"],
body[card-color="sky-blue"] .button,
body[card-color="sky-blue"] .bom-card .calendar-card .calendar .calendar-day .day-number,
body[card-color="sky-blue"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	color: #224e67;
}
body[card-color="sky-blue"],
body[card-color="sky-blue"] .envelope,
body[card-color="sky-blue"] .bom-card {
	background-color: #cfe0e8;
}
body[card-color="sky-blue"] .envelope .phrase,
body[card-color="sky-blue"] .bom-card .main-card .cover-container,
body[card-color="sky-blue"] .bom-card .card-title,
body[card-color="sky-blue"] .bom-card .greeting-card .groom-and-bride .relation,
body[card-color="sky-blue"] .bom-card .gallery-card .pagination,
body[card-color="sky-blue"] .bom-card .gallery-card .slick-prev:before,
body[card-color="sky-blue"] .bom-card .gallery-card .slick-next:before,
body[card-color="sky-blue"] .bom-card .calendar-card .calendar .calendar-day-head,
body[card-color="sky-blue"] .bom-card .venue-card .venue-address .map-guide,
body[card-color="sky-blue"] .bom-card .venue-card .venue-detail-info ul li .info-title {
	color: #598798;
}
body[card-color="sky-blue"] .bom-card .card-footer,
body[card-color="sky-blue"] .bom-card .main-card .d-day {
	color: #98b3be;
}
body[card-color="sky-blue"] .envelope .loader path {
	fill: #224e67;
}
body[card-color="sky-blue"] .bom-card .greeting-card .groom-and-bride,
body[card-color="sky-blue"] .bom-card .calendar-card .calendar-container {
	border-top-color: #92adbe;
	border-bottom-color: #92adbe;
}
body[card-color="sky-blue"] .bom-card .main-card .d-day {
	background-image: url('../../assets/images/day-stamp-bg-sky-blue.png');
	border-color: rgba(89, 135, 152, 0.25);
}
body[card-color="sky-blue"] .button,
body[card-color="sky-blue"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	background-color: rgba(77, 167, 167, 0.13);
}


/*--- FL - Pink Flower ---*/

body[card-theme="fl"],
body[card-theme="fl"] .envelope,
body[card-theme="fl"] .bom-card{
	background-color: #efebeb;
}
body[card-theme="fl"] .button {
	background: rgba(188,110,107,.08);
	color: #ba6d6a;
}
body[card-theme="fl"] .bom-card .card,
body[card-theme="fl"] .bom-card .venue-card .venue-detail-info {
	border-radius: 12px;
}
body[card-theme="fl"] .bom-card .main-card {
	background-image: url('../../assets/images/paper-cover-fl-pink.jpg');
}
body[card-theme="fl"] .bom-card .main-card .cover-container {
	display: inherit;
	color: #ba6d6a;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
}
body[card-theme="fl"] .bom-card .main-card .wedding-date {
	padding-top: 0;
}
body[card-theme="fl"] .bom-card .main-card .d-day {
	background-color: rgba(188,110,107,.95);
	border: none;
	color: rgba(255,255,255,.88);
	text-shadow: none;
}
body[card-theme="fl"] .bom-card .gallery .slick-slide {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
body[card-theme="fl"] .bom-card .calendar-card .calendar .calendar-day-head {
	color: #ba6d6a;
}
body[card-theme="fl"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	background: #ba6d6a;
	color: #fff;
}


/*--- FL - White Flower ---*/

body[card-color="white-flower"],
body[card-color="white-flower"] .envelope,
body[card-color="white-flower"] .bom-card {
	background-color: #efede8;
}
body[card-color="white-flower"] .button {
	background: rgba(118,120,82,.08);
	color: #767852;
}
body[card-color="white-flower"] .bom-card .main-card {
	background-image: url('../../assets/images/paper-cover-fl-white.jpg');
}
body[card-color="white-flower"] .bom-card .main-card .cover-container {
	color: #767852;
}
body[card-color="white-flower"] .bom-card .main-card .d-day {
	background-color: rgba(118,120,82,.95);
	border: none;
	text-shadow: none;
	top: auto;
	bottom: 50px;
}
body[card-color="white-flower"] .bom-card .gallery .slick-slide {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
body[card-color="white-flower"] .bom-card .calendar-card .calendar .calendar-day-head {
	color: #767852;
}
body[card-color="white-flower"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	background: #767852;
}


/*--- LX - Navy ---*/

body[card-theme="lx"],
body[card-theme="lx"] .envelope,
body[card-theme="lx"] .bom-card {
	background-color: #0e2f40;
	color: #907048;
}
body[card-theme="lx"] .envelope .phrase,
body[card-theme="lx"] .bom-card .cardslider__nav-next, 
body[card-theme="lx"] .bom-card .cardslider__nav-prev {
	color: #907048;
}
body[card-theme="lx"] .envelope .loader path {
	fill: #907048;
}
body[card-theme="lx"] .button {
	background: rgba(175,155,115,.15);
	color: #907048;
}
body[card-theme="lx"] .bom-card .card,
body[card-theme="lx"] .bom-card .venue-card .venue-detail-info {
	background-image: url('../../assets/images/paper-back-ivory.jpg');
	border-radius: 7px;
}
body[card-theme="lx"] .bom-card .card-footer {
	color: rgba(192,155,115,.5);
}
body[card-theme="lx"] .bom-card .main-card .groom-and-bride {
	font-size: 20px;
	line-height: 30px;
}
body[card-theme="lx"] .bom-card .main-card .text-only-cover .groom-and-bride .ampersand {
	display: block;
}
body[card-theme="lx"] .bom-card .main-card[cover-font="hand"] .groom-and-bride {
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 45px;
	letter-spacing: 0;
	position: relative;
	text-transform: lowercase;
	top: -7px;
}
body[card-theme="lx"] .bom-card .main-card[cover-font="hand"] .groom-and-bride .ampersand {
	font-size: 30px;
	display: inline-block;
	padding: 0 5px;
}
body[card-theme="lx"] .bom-card .main-card .wedding-date {
	font-size: 15px;
}
body[card-theme="lx"] .bom-card .main-card .wedding-date.korean-date {
	font-size: 13px;
	margin-top: 6px;
}
body[card-theme="lx"] .bom-card .main-card .d-day {
	background-color: rgba(154,118,69,.12);
	background-image: url('../../assets/images/day-stamp-bg-gold.png');
	border: none;
	color: #907048;
	width: 86px;
	height: 86px;
}
body[card-theme="lx"] .bom-card .venue-card .venue-address a {
	color: #907048;
}
body[card-theme="lx"] .bom-card .card-title,
body[card-theme="lx"] .bom-card .greeting-card .groom-and-bride .relation,
body[card-theme="lx"] .bom-card .venue-card .venue-address .map-guide,
body[card-theme="lx"] .bom-card .venue-card .venue-detail-info ul li .info-title {
	color: rgba(162, 125, 64, 0.74);
}
body[card-theme="lx"] .bom-card .greeting-card .groom-and-bride,
body[card-theme="lx"] .bom-card .calendar-card .calendar-container {
	border-top-color: rgba(144, 112, 72, 0.4);
	border-bottom-color: rgba(144, 112, 72, 0.4);
}
body[card-theme="lx"] .gallery-card .swipe-info {
	background-image: url('../../assets/images/paper-back-ivory.jpg');
	color: rgb(192,155,115);
}
body[card-theme="lx"] .gallery-card .pagination {
	color: rgba(192,155,115,.85);
}
body[card-theme="lx"] .bom-card .gallery .slick-slide {
	background-image: url('../../assets/images/paper-back-ivory.jpg');
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
body[card-theme="lx"] .bom-card .gallery .slick-prev:before,
body[card-theme="lx"] .bom-card .gallery .slick-next:before,
body[card-theme="lx"] .bom-card .gallery .slick-dots li button:before {
	color: rgba(192,155,115,.85);
}
body[card-theme="lx"] .bom-card .calendar-card .calendar .calendar-day-head,
body[card-theme="lx"] .bom-card .calendar-card .calendar .calendar-day .day-number {
	color: #907048;
}
body[card-theme="lx"] .bom-card .calendar-card .calendar .calendar-day .day-number.wedding-day {
	background: #907048;
	color: #f0ebe3;
}
body[card-theme="lx"] .bom-card .card .naver-map > div > div > div > div > div > div {
	background-color: #f0ebe3;
}

/*--- LX - Deep Green ---*/

body[card-color="deep-green"],
body[card-color="deep-green"] .envelope,
body[card-color="deep-green"] .bom-card {
	background-color: #23340a;
}

/*--- LX - Wine ---*/

body[card-color="wine"],
body[card-color="wine"] .envelope,
body[card-color="wine"] .bom-card {
	background-color: #311309;
}
/*--- LX - Wine ---*/

body[card-color="taupe"],
body[card-color="taupe"] .envelope,
body[card-color="taupe"] .bom-card {
	background-color: #c8c1b7;
}

/*--- No paper effect ---*/

body[paper-effect="off"] .bom-card .card,
body[paper-effect="off"] .bom-card .gallery .slick-slide,
body[paper-effect="off"] .bom-card .gallery-card .swipe-info,
body[paper-effect="off"] .bom-card .venue-card .venue-detail-info {
	background: #f2f2f2;
}
body[card-theme="lx"][paper-effect="off"] .bom-card .card,
body[card-theme="lx"][paper-effect="off"] .bom-card .gallery .slick-slide,
body[card-theme="lx"][paper-effect="off"] .bom-card .gallery-card .swipe-info,
body[card-theme="lx"][paper-effect="off"] .bom-card .venue-card .venue-detail-info {
	background: #eee8e1;
}
body[paper-effect="off"] .bom-card .main-card .cover-image {
	opacity: 1;
}
body[paper-effect="off"] .bom-card .gallery .slick-slide img {
	opacity: 1 !important;
	mix-blend-mode: none;
}

/*--- Text Adjustments ---*/

body[text-size="large"] {
	font-size: 16px;
	letter-spacing: 0.5px;
}
body[text-size="large"] .bom-card .main-card .wedding-date,
body[text-size="large"][card-theme="lx"] .bom-card .main-card .wedding-date.korean-date {
	font-size: 14px;
	letter-spacing: 0;
}
body[text-size="large"] .bom-card .greeting-card .groom-and-bride .christian-name {
	font-size: 10px;
}
body[text-size="large"] .bom-card .date-and-venue {
	font-size: 18px;
	letter-spacing: 1px;
}
body[text-size="large"] .bom-card .calendar-card .calendar .calendar-day .day-number {
	font-size: 13px;
}
body[text-size="large"] .bom-card .venue-card .venue-address a {
	font-size: 14px;
}
body[text-size="large"] .bom-card .venue-card .venue-detail-info ul li {
	font-size: 15px;
}
body[text-size="large"] .bom-card .venue-card .venue-detail-info ul li .info-title,
body[text-size="large"] .button.small-button {
	font-size: 12px;
}

body[text-weight="bold"],
body[text-weight="bold"] h1, 
body[text-weight="bold"] h2, 
body[text-weight="bold"] h3, 
body[text-weight="bold"] h4, 
body[text-weight="bold"] h5, 
body[text-weight="bold"] h6,
body[text-weight="bold"] button,
body[text-weight="bold"] .bom-card .venue-card .venue-address a {
	font-weight: 700;
}

body[text-weight="bold"] .bom-card .card-title,
body[text-weight="bold"] .bom-card .card-footer,
body[text-weight="bold"] .bom-card .gallery-card .swipe-info,
body[text-weight="bold"] .bom-card .calendar-card .calendar .calendar-day-head {
	font-weight: 400;
}

body[text-type="noto"] {
	font-family: 'Amiri', 'Noto Serif KR', serif;
}